.headerbox {
    border: 3px solid black;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100%;
    background-color: beige;
    padding-top: 15px;
    padding-bottom: 15px;
}


h1 {
    text-align: center;
    font-size: 40px;
}

p {
  line-height: 5rem;
}

p.source {
    text-align: right;
    color: grey;
    font-size: 12px
}

p.story {
  text-align: justify;
}

/* This wrapper wraps around the whole content of the page, it allows us to make the margins smaller*/
.wrapper {
    max-width: 700px;
    margin: 20px auto;
    padding-left: 10px;
  }

.chengyulist {
    line-height: 3rem;
    font-size: 24px;
}

.chengyulist li a {
  color: black;

}

.chengyulist li a:hover {
  background-color: gold;

}